<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品全件検索</title>
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>価格</th>
			<th>カテゴリー名</th>
		</tr>
		<tr th:each="itemJoinCategory : ${itemJoinCategoryList}">
			<th th:text="${itemJoinCategory.id}"></th>
			<th th:text="${itemJoinCategory.name}"></th>
			<th th:text="${itemJoinCategory.price}"></th>
			<th th:text="${itemJoinCategory.category.name}"></th>
		</tr>
	</table>

</body>
</html>